ul, 
li, 
a, 
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}
img{
    height: 100%;
    width: 100%;
}

.image img{
    height: auto;
    width: auto;
}