/*google-font */

//main-font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&family=Rufina:wght@400;700&display=swap');


$main-font: 'Roboto', sans-serif;
$second-font: 'Rufina', serif;
