@import 'preloader';
@import 'scroll-top';
@import 'window-load';
@import 'section-headding';
@import 'header';
@import 'main-menu';
@import 'mobile-menu';
@import 'hero';
@import 'about';
@import 'feature';
@import 'service';
@import 'testimonials';
@import 'team';
@import 'appointment';
@import 'blog';
@import 'contact';
@import 'footer';

