.blog-area{
    .blog{

        .slick-list{
            margin: 0 -15px;
            padding-bottom: 15px;
        }
        &__single{
            border: 2px solid $border-color;
            margin: 0 15px;
            transition: all .3s ease-in-out;
            &__image{
                margin: 20px;
                img{
                    
                }
            }

            &:hover {
                box-shadow: 0px 10px 10px 0px $box-shadow-color;
                 & .blog__content{
                    &__link{
                        a{
                            background-color: $btn-color;
                        }
                    }
                }
            }
        }
        &__content{
            padding: 15px 25px 40px 25px;

            @include respond-between(xs, sm) {
                padding: 0px 10px 20px 10px;
            }
            @include respond-below(xs) {
                padding: 0px 20px 20px 20px;
            }
            &__sub-title{
                h4{
                    @include fonts($main-font, 12, 400, $para-color, uppercase, 30px);
                    position: relative;
                    margin-bottom: 20px;

                    @include respond-between(md, lg) {
                        margin-bottom: 10px;
                    }
                    @include respond-between(sm, md) {
                        margin-bottom: 10px;
                    }
                    @include respond-between(xs, sm) {
                        margin-bottom: 6px;
                        @include texts(10, 24)
                    }
                    @include respond-below(xs) {
                        margin-bottom: 3px;
                        @include texts(10, 22)
                    }
                    &:after{
                        @include after($para-color, 50%, 1px, 50%, inherit, 50%, inherit);
                        transform: translate(-50%, -50%);
                    }
                    span{
                        padding-left: 20px;
                    }
                }
            }
            &__title{
                h2{
                    @include fonts($second-font, 22, 700, $socail-color, capitalize, 28px);

                    @include respond-between(md, lg) {
                        font-size: 18px;
                    }
                    @include respond-between(sm, md) {
                        font-size: 21px;
                    }
                    @include respond-between(xs, sm) {
                        font-size: 17px;
                    }
                    @include respond-below(xs) {
                        font-size: 16px;
                    }
                }
            }
            &__disc{
                p{
                    @include para-style;
                     padding: 20px 0 40px 0;

                    @include respond-between(sm, md) {
                        padding: 20px 0 30px 0;
                    }
                    @include respond-between(xs, sm) {
                        padding: 15px 0 27px 0;
                      
                    }
                    @include respond-below(xs) {
                        padding: 15px 0 22px 0;
                      
                    }
                }
            }
            &__link{
                button.btn{
                    a{

                    }
                }
            }
        }
    }
}