.feature-area{
    .feature{
        .slick-track{
            margin: 0 -5px;
        }
        &__single{
            margin: 0 5px;
            &__image{
                .image{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &__action{
                    transform: scale(0);
                    transform-origin: left bottom;

                    .action-content{
                        position: relative;
                        z-index: 8;
                        
                        &::after{
                            @include after($btn-color,100%,100%,0%, inherit, 0%, inherit);
                            z-index: -1;
                        }
                        &__icon{
                            .image{
                                img{

                                }
                            }
                        }
                        &__title{
                            h2{
                                @include fonts($second-font, 22, 700, $white-color, capitalize, 27px);
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
            &:hover{
                & .feature__single__image__action{
                    transform: scale(1);
                }
            }
        }
    }
}