div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: $preloader-bg url('https://svgshare.com/i/TGi.svg') no-repeat center center;
  }
  