.service-area{
    .service{
        .slick-list{
            margin: 0 -15px;
            padding-bottom: 15px;
        }
        &__single{
            border: 2px solid $border-color;
            margin: 0 15px;
            transition: all .3s ease-in-out;
            &__image{
                margin: 20px;
            }

            &:hover {
                box-shadow: 0px 7px 15px 0px $box-shadow-color;
                 & .service__content{
                    &__link{
                        a{
                            background-color: $btn-color;
                        }
                    }
                }
            }
        }
        &__content{
            padding: 20px 40px 40px 40px;

            @include respond-between(md, lg) {
                padding: 20px 35px 35px 35px;
  
            }
            @include respond-between(sm, md) {
                padding: 20px 30px 30px 30px;
            }
            @include respond-between(xs, sm) {
                padding: 0px 10px 20px 10px;
              
            }
            @include respond-below(xs) {
                padding: 0px 20px 20px 20px;
              
            }
            &__title{
                h2{
                    @include fonts($second-font, 22, 700, $section-color, capitalize, 28px);

                    @include respond-between(md, lg) {
                        font-size: 21px;

                    }
                    @include respond-between(xs, sm) {
                        font-size: 19px;
                      
                    }
                    @include respond-below(xs) {
                        font-size: 18px;
                      
                    }
                }
            }
            &__disc{
                p{
                    @include para-style;
                    padding: 20px 0 40px 0;

                    @include respond-between(sm, md) {
                          padding: 20px 0 30px 0;
                      
                    }
                    @include respond-between(xs, sm) {
                         padding: 15px 0 27px 0;
                      
                    }
                    @include respond-below(xs) {
                        padding: 15px 0 22px 0;
                      
                    }
                }
            }
            &__link{
                button.btn{
                    a{

                    }
                }
            }
        }
    }
}