/*font-family*/
@mixin font($font-family, $font-size, $font-weight) {
    font-family: $font-family;
    font-size: $font-size + px;
    font-weight: $font-weight;
}

/* text-size*/
@mixin text($text-color, $text-transfrom, $line-height) {
    color: $text-color;
    text-transform: $text-transfrom;
    line-height: $line-height;
}
/*font-text-all*/
@mixin fonts ($font-family, $font-size, $font-weight, $text-color, $text-transfrom, $line-height) {
    font-family: $font-family;
    font-size: $font-size + px;
    font-weight: $font-weight;
    color: $text-color;
    text-transform: $text-transfrom;
    line-height: $line-height;
}

/* font-line-height-size*/
@mixin texts($font-size, $line-height) {
    font-size: $font-size + px;
    line-height: $line-height + px;
}
/*before after*/
@mixin after($border-color, $height, $width, $top, $bottom , $left, $right) {
    height: $height;
    width: $width;
    left: $left;
    right: $right;
    top: $top;
    bottom: $bottom;
    background-color: $border-color;
    content: '';
    position: absolute;
}

/*para-style*/

@mixin para-style {
    @include fonts($main-font, 15, 400, $para-color, inherit, 28px);

    @include respond-between(md, lg) {
        
  
    }
    @include respond-between(sm, md) {
        @include texts(18, 26)
      
    }
    @include respond-between(xs, sm) {
        @include texts(16, 25)
      
    }
    @include respond-below(xs) {
        @include texts(12, 20);
        text-align: center;
      
    }
}
/**/
/**/
/**/
/**/